<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card</title>
    <link rel="stylesheet"type="text/css"href="styles/styles.css" >

</head>
<body>

<div class="product-card">
    <img class="product-image" src="nursery.jpg" alt="Product Image">
    <div class="product-info">
        <div class="product-name"><%=data.name%></div>
        <div class="product-description">Product Description goes here.</div>
        <div class="product-price"><%=data.price%></div>
    </div>
</div>

</body>
</html>